.headerClass {
    background-color: #1E2330;
    color: white;
    min-height: 280px;
}

.footerClass {
    background-color: #1E2330;    
    color: orange;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    clear: both;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.logoClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    padding-top: 2px;
    width: 35%;
  }

  .pictureClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    max-height: 350px;
    text-align: center;

  }

  .textBox {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    padding-bottom: 1em;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    margin-top: 4px;
}

.innerTextBox{
    padding-right: 25px;
    padding-left: 25px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .centerSection {
    text-align: center; 
  }

  /* Create two unequal columns */

  .first-column {
    width: 31%;
    padding: 5 -10px 5 5;
    float: left;
    text-align: right;
    padding-top: 10px;
  }

  .second-column {
    width: 66%;
    padding: 5 -10px 5 5;
    float: right;
    padding-top: 80px;
  }

  .titleText {
      font-weight: bold;
      font-size: 2em;
      font-family: "Comic Sans MS", Times, serif;
      color: orange;
  }

  .subtitleText{
      max-width: 800px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
 
  #emailForm {
      margin-top: 15px;
  }

  .inputField {
      margin-bottom: 5px;
  }

  form > label {
      font-weight: bold;
  }